//Matej Groombridge 2021

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './values';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	background: $background;
	height: 105vh;
}

footer {
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 0;
	width: 100vw;
	height: 50px;

	display: none;
}

a {
	margin: 1em;
	text-decoration: none;
	color: $dark;
}

input {
	width: 100%;
	height: 40px;
	border: none;

	font-size: 1.2em;
	font-weight: 700;

	border-radius: 5px;
	padding: 1em;

	margin: 1em 0;

	background: $light;
}

input:focus {
	outline: none;
}

.head {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100vw;
	height: 150px;

	h1 {
		color: $dark;
	}
}

.body {
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;

	width: 100vw;

	background: $white;

	box-shadow: 0px 10px 20px rgba($color: #000000, $alpha: 0.05),
		0px 10px 20px rgba($color: #000000, $alpha: 0.05);
	padding: 1.5em;
	border-radius: 1.5em;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;

	width: auto;

	padding: 1.5em;
	margin: 1em;
	border-radius: 1em;
}

.stats {
	display: none;
}

.input {
	background: $dark;
	min-height: 20vh;
	width: fit-content;

	h1,
	h2,
	h3,
	p,
	a {
		color: white;
	}

	input {
		color: $dark;
	}
}

.output {
	padding: 0.5em;

	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;

	max-height: 33vh;
	min-height: 10vh;

	overflow: scroll;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 40 px;
	border-radius: 5px;

	color: $dark;
	background: $primary;

	font-weight: bold;
	font-size: 22px;
	cursor: pointer;

	box-shadow: 0px 10px 20px rgba($color: #000000, $alpha: 0.05),
		0px 10px 20px rgba($color: #000000, $alpha: 0.05);
}

.view-all {
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;

	margin: 0.5em;
	width: auto;
	height: 5vh;
}

.sml-btn {
	display: flex;
	position: absolute;
	justify-content: center;
	align-items: center;

	width: 40vw;
	border-radius: 1em;
	height: 15vw;
	z-index: 2;

	color: $white;
	background: $dark;
	border: none;

	font-weight: bold;
	font-size: 18px;
	cursor: pointer;

	box-shadow: 0px 10px 20px rgba($color: #000000, $alpha: 0.1),
		0px 10px 20px rgba($color: #000000, $alpha: 0.05);
}

.habit-btns {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;

	margin: 1em;
}

.habit-btn {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 27px;
	width: 27px;
	border-radius: 5px;
	margin: 3px;

	border: none;

	img {
		width: 22px;
		height: 22px;
	}
}

.habit-text {
	overflow: hidden;
}

.done {
	background: $primary;
	border: 2px solid $dark;
}

select {
	border: none;
	background: $light;
	color: $dark;

	padding: 0.25em 1em;
	margin: 0.5em 0;
	width: 50%;
	border-radius: 5px;
	text-align: right;

	font-size: 16px;
	font-weight: 700;

	border: 2px solid $light;
}

select:focus {
	outline: none;
}

.habit {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	padding: 1em;
	margin-bottom: 1em;
	border-radius: 1em;
	width: 100%;

	background-color: $light;
}

::-webkit-scrollbar {
	width: 0; /* Remove scrollbar space */
	background: transparent; /* Optional: just make scrollbar invisible */
}

.stats {
	display: none;
}

.wrapper {
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.streak-stats {
	display: flex;
	width: auto;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.info {
	display: flex;
	flex-direction: column;
	align-items: center;

	background: $light;
	padding: 0.5em;
	border-radius: 1em;
	margin: 0.5em;

	width: 28%;

	p {
		font-size: 14px;
		margin: 0 1em;
		text-align: center;
	}

	.streak-num {
		font-size: 34px;
		font-weight: bold;
		color: $dark;
	}
}

.user-name {
	color: $dark;
}

@media only screen and (min-width: 450px) {
	body {
		height: 100vh;
	}

	footer {
		display: flex;
	}

	.body {
		width: 80%;
		max-height: 60vh;
		margin: auto;

		flex-direction: row;
		justify-content: space-between;
		align-items: stretch;

		padding: 1.5em;
	}

	.view-all {
		display: none;
	}

	.container {
		height: 100%;
		width: auto;
		margin: 0.75em;
		border-radius: 1em;
		overflow-x: hidden;
		margin-bottom: 0;
	}

	.wrapper {
		width: 50%;
	}

	.input {
		min-height: none;
		height: 100%;
		max-height: none;
		justify-content: flex-start;
	}

	.streak-stats {
		display: none;
	}

	.output {
		height: 100%;
		max-height: none;
		overflow: scroll;
	}

	.habit-btns {
		display: none;
	}
}

@media only screen and (min-width: 800px) {
	.body {
		width: 67%;
	}
}

@media only screen and (min-width: 1000px) {
	.habit-btns {
		display: flex;
	}
}

@media only screen and (min-height: 670px) and (min-width: 1200px) {
	.stats {
		display: flex;
		padding: 0.5em;

		.streak-stats {
			display: flex;
		}
	}

	.input {
		height: 80%;
		overflow: hidden;
	}

	.stats {
		overflow: hidden;
	}

	.half-size {
		width: 100%;
	}

	.half {
		display: flex;
		justify-content: stretch;
		align-items: center;
		margin: 1em 0;

		.half-size {
			width: 50%;
			height: 40px;
			margin: 0 0.5em;
		}
	}
}

@media only screen and (max-width: 374px) {
	.habit-btns {
		display: none;
	}
}
